@page
@model _05_AdminUI.Pages.DurusModel
@{
}


<div class="d-flex">
    <div class="accordionStili accordion">
        <div class="btn-group w-100">
            <button type="button"
                    style="height:48px;"
                    class="btn btn-primary"
                    draggable='true'
                    onclick="Durus_Yeni()"
                    ondragstart="Durus_Yeni_DragStart(event)"
                    title="Durus eklemek için butona tıklayın veya aşağıda bulunan Durus alanına sürükleyin."
                    data-bs-toggle="modal"
                    data-bs-target="#modal_Durus">
                <svg class="bi" width="18" height="18"><use xlink:href="#Ekle" /></svg>
                Yeni
            </button>
            <button id="panel_Detay_Buton_Sil" class="btn btn-danger text-center" style="height:48px" onclick="Durus_Sil_BosMu()">
                <svg class="bi" width="18" height="18"><use xlink:href="#Kaldir" /></svg>
                Sil
            </button>
        </div>

        <div id="treeMenu">
        </div>

        <div id="akordiyon_UstDurus" class=" p-0 m-0 border-0 h-100" style="margin-left:20px ;background-color:#121212; display:none">
            <button id="btn_UstDurus" class="btn  text-start flex-grow-1 accordionMenusu w-100" type="button" ondragover="Durus_AllowDrop(event)" ondrop="Durus_Drop(this,event)" data-bs-toggle="collapse" data-bs-target="#panel_UstDurus" aria-expanded="true" aria-controls="panel_UstDurus">
                <svg class="bi" width="18" height="18"><use xlink:href="#Listeleme" /></svg>
                <span id="text_UstDurus" style="margin-left:10px">
                    Ana Duruş Ekle
                </span>
            </button>
        </div>
    </div>
    <div class="b-example-divider b-example-vr"></div>
    <div class="p-0 m-3 w-100">
         <h3>Duruş Tipleri</h3>
        <hr />

        <div class="row">
            <span id="panel_Detay_Baslik" class="col" style="width:400px; font-size:24px"></span>
            <div class="col-4 btn-group">
                <button id="panel_Detay_Button_Duzenle"
                        class="btn btn-warning float-end w-100"
                        data-bs-toggle="modal"
                        data-bs-target="#modal_Durus">
                    <svg class='bi' width='18' height='18'><use xlink:href='#duzenle' /></svg>
                    Düzenle
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="width:100%;  margin-top:15px;">
             <a id="barcode_download" href="">
                    <img id="barcode" height="400"/>
                </a> 
        </div>
    </div>
</div>


@*Durus Modal*@
<div class="modal" id="modal_Durus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="modal_Durus_Header" class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="modal_Durus_Title">Yeni Duruş</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating input-group m-1">
                    <input id="modal_Durus_Input_DurusId" type="hidden" class="form-control" autocomplete="modal_Durus_Input_Kod" aria-required="true" aria-describedby="modal_Durus_Buton_Ayar" required />
                    <input id="modal_Durus_Input_Kod" class="form-control" autocomplete="modal_Durus_Input_Kod" aria-required="true" aria-describedby="modal_Durus_Buton_Ayar" required />
                    <label> Durus Kodu </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal_Durus_Buton_Kaydet" onclick="Durus_Ekle()" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>


@*Durus Sil*@
<div class="modal" id="modal_Durus_Sil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title"> Duruş Sil </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>
                    Duruş silinecek ! Onaylıyor musunuz ?
                </h4>

                <div class="form-group">
                    <span id="modal_Durus_Sil_Kod" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="Durus_Sil()" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>

@*Durus Taşıma Modal*@
<div class="modal" id="modal_Durus_Tasi" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="modal_Durus_Tasi_Header" class="modal-header bg-warning">
                <h5 class="modal-title" id="modal_Durus_Tasi_Title">Duruş Taşıma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" d-flex justify-content-between">
                    <div>
                        <span class="align-middle" id="modal_Durus_Tasi_Input_Kod1" />
                    </div>
                    <span class="align-middle" style="font-size:24px">
                        ➤
                    </span>
                    <div>
                        <span class="align-middle" id="modal_Durus_Tasi_Input_Kod2" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal_Durus_Tasi_Buton_Kaydet" onclick="Durus_Tasi()" class="btn btn-primary"> Taşı </button>
            </div>
        </div>
    </div>
</div>
 

<script src="~/js/durustip.js"></script>