@page
@model _06_ClientUI.Pages.IstasyonModel
@{
}
<div class="bg-dark">
    <div class="btn-group w-100">
        <button class="btn btn-success" onclick="Istasyon_Kaydet()">
            Kaydet
        </button>
        <button class="btn btn-secondary" onclick="AnaSayfa()">
            Geri
        </button>
    </div>
</div>

<div id="list_Istasyon">
</div>

<script src="~/js/istasyon.js" asp-append-version="true"></script>
 